<% layout('layout/page') -%>
<% block('title', 'Index page'); -%>

  <div class="content">
  <div class="map" id="map"></div>
  <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  <script type="text/javascript" src="/js/yandexmap.js"></script>
</div>