extends ./layout/page

block main
  include ./partials/slideShow
  h1= title

block content
  p.
    "Название сервиса" - это сервис, позволяющий воссоздать картину поездки, туристического похода, просто прогулки, если у вас шла запись gps-маршрута. Вы можете загрузить gps-трек (в формате .gpx), и сайт прогрузит его на карту Яндекс. Добавив фотографии к этому треку - создастся галерея этого маршрута. В добавок, если у фотографий есть геометки, то они отображатся на карте в правильных местах.
  .backgroundSpace
  .containerGallery
    .imgContainerGallery
      .gallery-zoom-btn
      .gallery-cont-for-img
        img(src="/img/screen/1/_s" alt="" width="400px")
  .containerGallery
    .imgContainerGallery
      .gallery-zoom-btn
      .gallery-cont-for-img
        img(src="/img/screen/2/_s" alt="" width="400px")
  script(type="text/javascript" src="/js/slideShow.js")
  script inputDataObject = {links: {href: 'http://node.mokcrimea.ru/img/screen/1/_s'}, links: {href: 'http://node.mokcrimea.ru/img/screen/2/_s'}}