body {
  background-color: #FCFCFC;
  margin: 0;
  padding: 0;
}
p {
  margin-top: 10px;
}
.map {
  margin: 10px auto;
  width:700px;
  height:500px
}
.header {
  width: 1000px;
  height: 130px;
  background: url(../img/head.jpg);
}
.main {
  margin: 10px auto;
  width: 1000px;
  min-height: 600px;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.topMenu {
  width: 100%;
  height: 33px;
  margin-top: 3px;
  border-bottom: 1px solid #B0B0B0;
}
.ulMenuLine a:first-child li {
  border-left: 1px solid #C9C9C9;
}
.ulMenuLine {
  -webkit-padding-start: 15px;
}
.ulMenuLine li {
  display: inline-block;
  margin: 1px 0;
  height: 23px;
  width: 100px;
  padding-top: 6px;
  text-align: center;
  border-right: 1px solid #C9C9C9;
  color: #575757;
  font-size: 11pt;
  font-family: Verdana, arial;
  text-decoration: none;
}
.ulMenuLine li:hover {
  text-decoration: underline;
  cursor: pointer;
  /*background-color: #D4DDFC;*/
  background-color: #C2D4FF;
  color: black;
  border-radius: 1px;
  /*color: #1938A3;*/
  transition: .1s ease-out;
}
.content {
  padding: 10px 20px;
  font-size: 12pt;
  font-family: arial;
}
.footer {
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  background-color: white;
  box-sizing: border-box;
  font-family: arial;
  border-top: 1px solid gray;
  background-color: #6484E8;
  letter-spacing: 2pt;
}
