body{
	background-color: #F0F0F0;
	margin: 0;
}

@font-face {
    	font-family: GardensC;
    	/*src: local(GardensC), url(../font/GardensC.otf);*/
    	src: local(GardensC), url(../flatDesign/font/GardensC.otf);
}

h1{
	margin: 10px auto;
	padding: 4px 25px;
	width: 500px;
	display: block;
	color: #4A4A4A;
	font-size: 19pt;
	font-weight: 800;
	text-align: center;
}

.centerTextForm{
	text-align: center;
	margin: 50px 20px 20px;
}
/*-------------Form-------------*/
.loginWindow{
	margin: 40px auto;
	width: 440px;
	border: 1px solid #79ABE6;
	border-radius: 8px;
}

.btn-line{
	margin-left: 50px;
	padding: 0;
}

.btn-right{
	margin-left: 60%;
	padding: 0;
}

.form-label{
	margin-left: 50px;
	padding-top: 2px;
	display: block;
	font-size: 14pt;
	/*float: left;*/
}

.form-group{
	height: 50px;
}

.form-input{
	float: right;
	margin-right: 80px;
	width: 170px;
	height: 20px;
}

.loginWindow .form-group:first-child{
	margin-top: 30px;
}

.btn-form{
	cursor: pointer;
	border: none;
	padding: 4px 25px 2px;
	background-color: #4D9DFF;
	border-bottom: 3px solid #2989FF;
	color: #fff;
	font-size: 12pt;
	font-family: sans-serif;
	letter-spacing: 1pt;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	float: left;
}

.btn-form:active{
	padding: 5px 25px 4px;
	border: none;
}

.infoBtn{
	float: left;
	margin-top: 9px;
}

.form-link{
font-family: sans-serif;
font-size: 12pt;
color: #476EFF;
}

.form-link:hover{
text-decoration: none;
}

.form-link:active{
color: #FF0A13;
text-decoration: underline;
}
/*---------------------------*/

.tempBack{
	position: absolute;
	display: block;
	width: 100%;
	height: 70px;
	background-color: #46D899;
	/*background-color: #26C983;*/
	z-index: -100;
}

.main{
	width: 1200px;
	margin: auto;
	font-family: GardensC, Tahoma, Helvetica;
}

.header{
	width: 100%;
	height: 70px;
}

.headLogo{
	height: 55px;
	width: 350px;
	margin-left: 50px;
	padding-top: 15px;
	text-align: center;
	letter-spacing: 1pt;
	font-size: 26pt;
	color: #FFFFFF;
	float: left;
}

.ulMenuLine{
	height: 23px;
	margin-right: 50px;
	float: right;
	display: block;
	margin: 30px 50px 0 0;
}

.ulMenuLine li{
	list-style-type: none;
	display: inline-block;
}

.ulMenuLine a{
	margin-left: 40px;
	height: 23px;
	text-align: center;
	color: #575757;
	font-size: 14pt;
	text-decoration: none;
}

.ulMenuLine a:hover{
	text-decoration: underline;
	cursor: pointer;
}

.container{
	display: flex;
	margin: 0;
	justify-content: flex-start;
	align-items: stretch;
	background: #fff;
	width: 100%;
	min-height: 700px;
	overflow: hidden;
}

.leftMenu{
	position: relative;
	width: 200px;
	overflow: hidden;
	background: #E6E6E6;
	float: left;
	min-height: 700px;
}

.leftMenuHead{
	width: 70px;
	margin: 15px auto 10px;
	font-size: 17pt;
	letter-spacing: 2pt;
	color: #3D3D3D;

}

.ulMenuColumn{
	/*-webkit-padding-start: 0px;*/
	position: relative;
	left: -30px;
	float: left;
	display: block;
	width: 100%;
	margin: 0;
}

.ulMenuColumn a{
	display: block;
	margin: 10px 0 0 15px;
	height: 23px;
	text-align: left;
	color: #575757;
	font-size: 14pt;
	text-decoration: none;
}

.ulMenuColumn li{
	list-style-type: none;
}

.ulMenuColumn a:hover{
	text-decoration: underline;
	cursor: pointer;
}


#map{
	margin: 20px auto;
	width:700px;
	height:500px
}

p{
	font-family: Tahoma;
	text-align: justify;
	font-size: 12pt;
	margin: 0 20px 20px;
	color: #404040;
}

.content{
	float: right;
	width: 1000px;
}

.footer{
	width: 100%;
	height: 30px;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-family: Verdana;
	letter-spacing: 2pt;
	padding-top: 10px;
	font-size: 11pt;
	text-align: center;
}

.messageBox{
	padding: 5px 30px;
	margin: 5px 30px;
	border-radius: 8px;
	text-align: center;
	font-family: sans-serif;
	min-width: 500px;
}

.errorMessage{
	background: #EBB7B7;
	color: #580404;
	border: 1px solid red;
}

.profitMessage{
	background: #BDEAC1;
	color: #07500D;
	border: 1px solid green;
}

.first_letter {
	color: #f00!important;
}
