extends ../layout/page

block main
  h1= title

block content
  - if (images.length)

      - each image in images
        a.show-galery(href="#{image.XXL.href}")
          img.gallery(src="#{image.M.href}" data-full="#{image.XL.href}")
  script(src="/js/popup.js")