extends ../layout/page

block main
  h1= title

block content
  form(action="/track/#{req.track.id}/yandex" enctype="multipart/form-data" method="post" name="upload_images")
    input(type="file" name="images" required multiple)
    br
    button(name="submit" type="submit") Загрузить
  script.
    var form = document.upload_images;

    form.submit.addEventListener('click', function(evt) {
      var validExtensions = [".jpg", ".png", ."gif", ".bmp"];
      var objOfFiles = form.images.files;
      if (form.images.type == 'file') {

        for (var i = 0; i < objOfFiles.length; i++) {
          var valid = false;
          for (var j = 0; j < validExtensions.length; j++) {

            var re = new RegExp(validExtensions[j] + '$', 'i');
            if (re.test(objOfFiles[i].name)) {
              valid = true;
            }
          }
          if (!valid) {
            alert('Оповещение о неправильном формате файла');
            evt.preventDefault();
          }

        }
      }
    });
