head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  title= 'Photo coordinates fixer' + ' - ' + title
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

  link(rel="stylesheet", href="/css/style.css")


  | <!--[if !IE]>--><script type="text/javascript" src="/js/desine.js"></script> <!--<![endif]-->