head
  meta(charset="utf-8")
  title= 'Event Horizon' + ' - ' + title
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")

  link(rel="stylesheet", href="/css/style.css")
  link(rel='stylesheet' media='(max-width: 1200px)' href='/css/style-small.css')
  link(rel='stylesheet' media='(min-width: 1201px)' href='/css/style-high.css')

  | <!--[if !IE]>--><script type="text/javascript" src="/js/desine.js"></script> <!--<![endif]-->