.leftMenu
  .leftMenuHead Меню
  ul.ulMenuColumn
    li
      a(href="#" title="Мой профиль") Мой профиль
    li
      a(href="/track/list" title="Мои треки") Мои треки
    li
      a(href="#" title="Фото") Фото
    li
      a(href="#" title="Карта") Карта