.header
  .headLogo Thinvilve
  .ulMenuLine
    - if (req.isAuthenticated())
      a(href="/user/"+req.user._id title="Мой профиль") Профиль
    - if (req.isAuthenticated())
      a(href="/logout" title="Выйти") Выйти
    - else
      a(href="/login" title="Войти")
        b.first_letter В
        b. ойти