.header
  .headLogo Coordinates fixer
  ul.ulMenuLine
    li
      a(href="/" title="Главная") Главная
    li
      a(href="/upload" title="Загрузить") Загрузить
    - if (req.isAuthenticated())
      li
        a(href="/logout" title="Выйти") Выйти
    - else
      li
        a(href="/auth/yandex" title="Войти")
          b.first_letter В
          b. ойти