extends ../layout/page

block main
  h1= title

block content
  p.centerTextForm Введите имя пользователя и пароль.
  form.loginWindow(action="/login", method="post", role="form", name="login_form")
    .form-group
      label.form-label Email
        input.form-input(name="email" type="email" placeholder="E-mail")
    .form-group
      label.form-label Пароль
        input.form-input(name="password" type="password" placeholder="Password")
    .form-group
      .btn-line
        button.btn-form(name="submit" type="submit") Войти
        span.infoBtn &nbsp; или &nbsp;
          a.form-link(href="/signup") Регистрация
  script.
    var form = document.login_form;
    form.submit.addEventListener('click', function(evt){
      var reEmail = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
      var rePassword = /(^[A-zА-я0-9!@#$%^&*()_]{6,20}$)/;

      if (!reEmail.test(form.email.value)) {
        return evt.preventDefault();
      }

      if (!rePassword.test(form.password.value)) {
        return evt.preventDefault();
      }
    });