extends ../layout/page

block main
  h1= title

block content
  p.centerTextForm Введите имя пользователя и пароль.
  form.loginWindow(action="/login", method="post", role="form", name="login_form")
    .form-group
      label.form-label Пользователь
        input.form-input(name="username" type="text" placeholder="Username")
    .form-group
      label.form-label Пароль
        input.form-input(name="password" type="password" placeholder="Password")
    .form-group
      .btn-line
        button.btn-form(name="submit" type="submit") Войти
        span.infoBtn &nbsp; или &nbsp;
          a.form-link(href="/signup") Регистрация
  script.
    var form = document.login_form;
    form.submit.addEventListener('click', function(evt){
      var reUsername = /(^[A-zА-я0-9_]{3,20}$)/;
      var rePassword = /(^[A-zА-я0-9!@#$%^&*()_]{6,20}$)/;

      if (!reUsername.test(form.username.value)) {
        return evt.preventDefault();
      }

      if (!rePassword.test(form.password.value)) {
        return evt.preventDefault();
      }
    });