extends ../layout/page

block main
  h1= title

block content
  p.centerTextForm Введите имя пользователя и пароль. Если такого пользователя нет - он будет создан.
  form.loginWindow(action="/login", method="post", role="form")
    .form-group
      label(for="input-username" class="form-label") Email
        input(name="email" type="email" class="form-input" placeholder="Email")
    .form-group
      label(for="input-password" class="form-label") Пароль
        input(name="password" type="password" class="form-input" placeholder="Password")
    .form-group
      .btn-line
        button.btn-form(type='submit') Войти
        span.infoBtn
          | &nbsp; или &nbsp;
          a.form-link(href="/signup") Регистрация
