extends ../layout/page

block main
  //- h1= title

block content
  p.
   Для загрузки и хранения фотографий мы используем сервис Яндекс.Фото.
   Для того, чтобы воспользоваться  его услугами необходимо принять
   пользовательское соглашение.
  p
    a(href="http://fotki.yandex.ru/oferta.xml?" target="_blank") Ссылка
  p.
    После принятия соглашения вы сможете загружать фотографии в нашу галерею.
  //- script.
    var form = document.reg_form;
    form.submit.addEventListener('click', function(evt){
      var reName = /(^[A-zА-я0-9]{3,20}$)/;
      var reEmail = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
      var reUsername = /(^[A-zА-я0-9_]{3,20}$)/;
      var rePassword = /(^[A-zА-я0-9!@#$%^&*()_]{6,20}$)/;

      if (!reName.test(form.name.value)) {
        return evt.preventDefault();
      }
      if (!reEmail.test(form.email.value)) {
        return evt.preventDefault();
      }
      if (!reUsername.test(form.username.value)) {
        return evt.preventDefault();
      }
      if (!rePassword.test(form.password.value)) {
        return evt.preventDefault();
      }
    });