body{
	background-color: #F0F0F0;
	margin: 0;
}

@font-face {
    	font-family: GardensC;
    	/*src: local(GardensC), url(../font/GardensC.otf);*/
    	src: local(GardensC), url(../font/GardensC.otf);
}

h1{
	margin: 10px auto;
	padding: 4px 25px;
	width: 500px;
	display: block;
	color: #4A4A4A;
	font-size: 19pt;
	font-weight: 800;
	text-align: center;
}

h2{
	margin: 0;
	padding: 0;
	font-weight: 100;
	display: inline-block;
	font-size: 15pt;
	float: left;
}

.centerTextForm{
	text-align: center;
	margin: 50px 20px 20px;
}

.table-block{
	margin: 40px auto;
	width: 400px;
	border: 1px solid #79ABE6;
	border-radius: 8px;
}


/*------------SlideShow---------*/

#slideShow{
	display: none;
	position: fixed;
	top: 0;
	height: 730px;
	width: 990px;
	background: #000;
	border: 3px solid #000;
	z-index: 20;
}

.backgroundSpace{
	position: fixed;
	display: none;
	z-index: 19;
	top: 1px;
	left: 0;
	background: #000;
	opacity: .8;
}

.slide-img-content{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 730px;
	width: 990px;
}

.slide-close-btn{
	position: absolute;
	background: url(../img/close-btn2.png);
	margin-left: 900px;
	opacity: .3;
	width: 97px;
	height: 27px;
	transition: .4s;
	cursor: pointer;
	z-index: 10;
}

.slide-next-btn{
	position: absolute;
	background: url(../img/next-btn.jpg);
	margin: 217px 0 0 1012px;
	opacity: 0;
	width: 89px;
	height: 315px;
	transition: .2s;
	cursor: pointer;
	z-index: 10;
}

.slide-prev-btn{
	position: absolute;
	background: url(../img/prev-btn.jpg);
	margin-top: 217px;
	opacity: 0;
	width: 89px;
	height: 315px;
	transition: .2s;
	cursor: pointer;
	z-index: 10;
}

.slide-load-img{
	display: none;
	position: absolute;
	background: url(../img/load-img.png);
	margin: 338px 0 0 512px;
	opacity: 1;
	width: 75px;
	height: 74px;
	transition: .2s;
	cursor: pointer;
	z-index: 30;
	-webkit-animation: preloader 1.5s infinite linear;
    -moz-animation: preloader 1.5s infinite linear;
    -ms-animation: preloader 1.5s infinite linear;
    -o-animation: preloader 1.5s infinite linear;
    animation: preloader 1.5s infinite linear;
}

@-webkit-keyframes preloader {
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes preloader {
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes preloader {
    to { -ms-transform: rotate(360deg); }
}

@-o-keyframes preloader {
    to { -o-transform: rotate(360deg); }
}

@keyframes preloader {
    to { transform: rotate(360deg); }
}

.slide-next-btn:hover, .slide-prev-btn:hover{
	opacity: .6;
}

.slide-close-btn:hover{
	opacity: .99;
}

.slide-img-content img{
	opacity: 0;
}
/*------------------------------*/

/*-------------Gallery----------*/

.containerGallery{
	display: inline-block;
	margin-bottom: 20px;
}

.imgContainerGallery{
	height: 250px;
	width: 300px;
	background: #1C1C1C;
	float: left;
	margin: 20px 0 0 20px;
}

.imgContainerGallery:hover .gallery-close-btn{
	opacity: 1;
}

.imgContainerGallery:hover .gallery-zoom-btn{
	opacity: .8;
}


.gallery-cont-for-img{
	height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.gallery-close-btn:focus {
	outline: 0;
}

.gallery-close-btn{
	position: absolute;
	background: url(../img/close-btn.png);
	z-index: 2;
	height: 30px;
	border: 0;
	width: 30px;
	margin-left: 270px;
	opacity: 0;
	transition: .5s;
	cursor: pointer;
}

.gallery-zoom-btn{
	position: absolute;
	background: url(../img/zoom-btn.png);
	z-index: 18;
	height: 55px;
	width: 55px;
	margin:97px 0 0 122px;
	opacity: 0;
	transition: .5s;
	cursor: pointer;
}
/*------------------------------*/





/*-------------popup------------*/

.alert-message{
	position: absolute;
	opacity: 0;
	display: inline-block;
	margin-left: 5px;
	border: 1px solid #FBA2AB;
	background-color: #FEE7E9;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 9pt;
	padding: 3px 10px;
	color: #570007;
	transition: 1s;
}

/*------------------------------*/
.balloon-img{
	margin: 0 auto;
	display: block;
}

#zoom-balloon-image{
	position: fixed;
	display: none;
	opacity: 0;
	transition: 1s;
	z-index: 100;
	/*margin: -30px 0 0 50px;*/
	box-shadow: 0 0 500px #000;
	top: 0;
	left: 0;
	cursor: pointer;
}


.balloon-fullsize{
	display: block;
	float: right;
	font-family: sans-serif;
	font-size: 10pt;
	padding-top: 5px;
	text-decoration: underline;
	color: #4967E9;
	cursor: pointer;
}
/*-------------Form-------------*/
.input-box{
	float: left;
	width: 310px;
}

.message-box{
	float: left;
}

.loginWindow{
	margin: 40px auto;
	width: 400px;
	border: 1px solid #79ABE6;
	border-radius: 8px;
}

.btn-line{
	margin-left: 50px;
	padding: 0;
}

.form-label{
	margin-left: 50px;
	padding-top: 2px;
	display: block;
	font-size: 14pt;
	float: left; /*Убрать!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

.form-group{
	height: 50px;
}

.form-input{
	float: right;
	/*margin-right: 80px; */
	width: 170px;
	height: 20px;
}

.first-line-group{
	margin-top: 30px;
}

.btn-form{
	cursor: pointer;
	border: none;
	padding: 4px 25px 2px;
	background-color: #4D9DFF;
	border-bottom: 3px solid #2989FF;
	color: #fff;
	font-size: 12pt;
	font-family: sans-serif;
	letter-spacing: 1pt;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	float: left;
	outline: none;
}

.btn-form:active{
	padding: 5px 25px 4px;
	border: none;
}

.infoBtn{
	float: left;
	margin-top: 9px;
}

.form-link{
	font-family: sans-serif;
	font-size: 12pt;
	color: #476EFF;
}

.form-link:hover{
	text-decoration: none;
}

.form-link:active{
	color: #FF0A13;
	text-decoration: underline;
}

.clearStyle{
	clear: both;
}
/*---------------------------*/

.tempBack{
	text-decoration: underline;
	position: absolute;
	display: block;
	width: 100%;
	height: 70px;
	background-color: #37bc9b;
	z-index: -100;
}

.header{
	text-decoration: underline;
	display: block;
	width: 100%;
	height: 70px;
	background-color: #46D899;
	border-radius: 4px
}

.headLogo{
	height: 55px;
	width: 350px;
	padding-top: 15px;
	text-align: center;
	letter-spacing: 1pt;
	font-size: 26pt;
	color: #17703E;	
	float: left;
}

.ulMenuLine{
	display: block;
	float:right;
	transition: 0.2s;
}

.ulMenuLine a{
	display: block;
	float: left;
	padding: 24px;
	text-align: center;
	color: #575757;
	font-size: 14pt;
	text-decoration: none;
}

.ulMenuLine a:hover{
	background-color: #2BC788;
	color: #fff;
	cursor: pointer;
}

.container{
	display: flex;
	margin: 0;
	justify-content: flex-start;
	align-items: stretch;
	background: #fff;
	width: 100%;
	min-height: 700px;
	overflow: hidden;
}

.leftMenuContainer{
	position: relative;
}

.ulMenuColumn a{
	display: block;
	text-align: left;
	color: #575757;
	font-size: 14pt;
	text-decoration: none;
	padding: 5px 0 5px 25px;
	transition: .2s;
}

.ulMenuColumn a:hover{
	cursor: pointer;
	background-color: #FFF;
}

.ulMenuColumn a:active{
	text-decoration: underline;
}

#map{
	margin: 20px auto;
	width:950px;
	height:600px
}

p{
	font-family: Tahoma;
	text-align: justify;
	font-size: 12pt;
	margin: 0 20px 20px;
	color: #404040;
}

.footer{
	width: 100%;
	height: 30px;
	background: #656d78;
	color: #434a54;
	font-family: Verdana;
	letter-spacing: 2pt;
	padding-top: 10px;
	font-size: 11pt;
	text-align: center;
}

.messageBox{
	padding: 5px 30px;
	margin: 5px 30px;
	border-radius: 4px;
	text-align: center;
	font-family: sans-serif;
	min-width: 500px;
}

.errorMessage{
	background: #EBB7B7;
	color: #580404;
	border: 1px solid red;
}

.profitMessage{
	background: rgba(140, 193, 74, 0.56);
	color: #07500D;
}

.first_letter {
	color: #f00!important;
}

.trackMenu {
	padding-left: 20px;
/*	display: flex;
	justify-content: flex-start;*/
	/*background-color: #46D899;*/
}

.trackMenu li{
	position: relative;
	display: inline-block;
	list-style-type: none;
}
.trackMenu a:hover {
	background-color: #a6edc0;
}

.trackMenu > a.remove {
	float: right;
	margin-right: 25px;
}
.trackMenu > a.remove button {
	padding: 0 40px;
	border-radius: 25px;
	height: 28px;
	opacity: 0;
	cursor: pointer;
	position: fixed;
	margin-top: -24px;
	margin-left: -4px;
	border: 0;
}
.trackMenu > a.remove:hover {
	background-color: #da4453;
}
.trackMenu > a:last-child > li:hover {
	color: #fff;
}

.trackMenu > a.remove:hover {
	background-color: #da4453;
}

.trackMenu a{
	padding: 4px 10px;
	background-color: #f0f6f2;
	margin-right: 10px;
	border-radius: 25px;
	display: inline-block;
	height: 23px;
	text-align: left;
	color: #575757;
	font-size: 14pt;
	transition: .3s;
	text-decoration: none;
}

.backLink {
	position: relative;
	padding: 4px 25px;
	background-color: #f0f6f2;
	margin-right: 10px;
	border-radius: 25px;
	display: inline-block;
	height: 23px;
	text-align: left;
	color: #575757;
	font-size: 14pt;
	transition: .3s;
	text-decoration: none;
	float: left;
	left: 20px;
}

.backLink:hover {
	background-color: #a6edc0;
}

/*------------------------------------------*/

.list-information{
	display: block;
	margin: 5px 20px;
	height: 24px;
	padding: 12px 20px 7px;
	border-radius: 5px;
}

.content h1 + .list-information{
	margin-top: 40px;
}

.list-information:hover{
	padding: 11px 19px 6px;
	border: 1px solid #79ABE6;
}

.list-information-name{
	font-family: Verdana, sans-serif;
	display: block;
	float: left;
	color: #141CE0;
}

 .list-information-name:visited{
	color: #141CE0;
}

.list-information form{
	float: right;
}

.list-information form button{
	position: relative;
	top: -9px;
	font-size: 22pt;
	padding: 0;
	opacity: 0;
	background: #fff;
	color: #5A5A5A;
	border: none;
	outline: none;
	cursor: pointer;
}

.list-information form button:hover{
	transition: .2s linear;
	-moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.list-information-gallery{
	opacity: 0;
	border: 1px solid #CACACA;
	background: #F5F5F5;
	color: #1F2C21;
	border-radius: 4px;
	cursor: pointer;
	padding: 3px 10px;
	margin-left: 59px;
	outline: none;
	text-decoration: none;
}

.list-information-inf{
	opacity: 0;
	background: #F5F5F5;
	color: #1F2C21;
	border-radius: 4px;
	margin: 0 0 0 10px;
	outline: none;
	text-decoration: none;
	display: inline-block;
	padding: 0 4px;
	height: 23px;
}
.list-information-inf:hover{
	background: #E0EEFF;
	border-color: #97ADDB;
}

.list-information:hover button,
.list-information:hover .list-information-gallery,
.list-information:hover .list-information-inf {
	opacity: 1;
}

.list-information-gallery:hover{
	background: #E0EEFF;
	border-color: #97ADDB;
}

.list-information-gallery:active{
	color: #1331D3;
}