<!DOCTYPE html>
<html lang=ru>
<head>
	<title>Project</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
	<script type="text/javascript" src="yandexmap.js"></script>
</head>
<body>
	<div id="main">
		<div id="header"></div>
		<div id="topMenu">
			<ul class="ulMenuLine">
				<a href="#"><li>Главная</li></a>
				<a href="#"><li>Новости</li></a>
				<a href="#"><li>Помощь</li></a>
			</ul>
		</div>


		<div id="content">

			<div id="map"></div>

		</div>


		<div id="footer">MTeam © 2014</div>
	</div>
</body>
</html>