doctype html
html(lang='ru')
  include ../partials/head
  body
    .tempBack
    .main
      include ../partials/topMenu
      include ../partials/slideShow
      .container
        include ../partials/leftMenu
        .content
          include ../partials/message
          block main
          block content
      include ../partials/footer
