<!DOCTYPE html>
<html lang=ru>
<head>
  <title><%=blocks.title%></title>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css"/>

  <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
  <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
  <div class="main">
  <%-partial('../partials/navigation')%>

  <%-body -%>

  <%-partial('../partials/footer')%>
  </div>
</body>
</html>