<!DOCTYPE html>
<html lang=ru>
<head>
  <title><%=blocks.title%></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  <script type="text/javascript" src="/js/yandexmap.js"></script>
</head>
<body>

  <%-body -%>

    <div class="footer">MTeam © 2014</div>
  </div>
</body>
</html>