extends ../layout/page

block main
  h1= title
  ul
    li
      a(href='/track/#{track.id}/yandex') Загрузить фотографии
    li
      a(href='/track/#{track.id}/galery') Галерея
block content
  #map.map
  script(src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU")
  script.
    var myMap;

    // Дождёмся загрузки API и готовности DOM.
    ymaps.ready(init);

    function init() {
      // Создание экземпляра карты и его привязка к контейнеру с
      // заданным id ("map").
      myMap = new ymaps.Map('map', {
        // При инициализации карты обязательно нужно указать
        // её центр и коэффициент масштабирования.
        center: [44.958306, 34.109535], // Москва
        zoom: 12
      });
      myMap.controls.add('zoomControl', {
        left: 5,
        top: 5
      });

      var myPolyline = new ymaps.Polyline(#{coord}, {
        // Описываем свойства геообъекта.
        // Содержимое балуна.
        balloonContent: "Ваш трек"
      }, {
        // Задаем опции геообъекта.
        // Отключаем кнопку закрытия балуна.
        balloonHasCloseButton: false,
        // Цвет линии.
        strokeColor: "#26ff4a",
        // Ширина линии.
        strokeWidth: 4,
        // Коэффициент прозрачности.
        strokeOpacity: 0.8
      });

      myMap.geoObjects.add(myPolyline);
    }
