extends ../layout/page

block main
  h1= title

block content
  .alert-message
  .load-file-indicator.load-file-indicator-indent-1
    |Загрузка
    span.load-file-anim-1 .
    span.load-file-anim-2 .
    span.load-file-anim-3 .
  form(class="form-input-load form-input-load-track" action="/upload" enctype="multipart/form-data" method="post" name="upload_track" align="center")
    .form-group
      input(class="form-input-load-text" type="text" name="title" placeholder="Введите название трека")
      input(type="file" name="upload")
      button(class="list-information-gallery list-information-load-track-left" name="submit" type="submit") Загрузить
  script(type="text/javascript" src="/js/main.js")